:root{
    --bs-body-bg: black;
    --bs-body-color: #0dcaf0;
    

}
html{
    min-height: 100%;
    position: relative;
}


body{
    height: 100%;
    width: 100%;
    font-family: 'Fjalla One', sans-serif;
    background-size: cover;
    background-image: linear-gradient(black, gray, black); 
    background-repeat: no-repeat;
}

button{
    background-color: #0dcaf0;
}

h1{
    margin-bottom: 0px;
}

.artistInput {
    height: 4rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#tbody {
    display: inline;
}