:root{
    --bs-body-bg: #212529;
    --bs-body-color: #0dcaf0;
    

}
body{
    font-family: 'Fjalla One', sans-serif;
    background-image: linear-gradient(to bottom right, black, gray); 
    background-repeat: no-repeat;
}

button{
    
}

h1{
    margin-bottom: 0px;
}

.artistInput {
    height: 4rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#tbody {
    display: inline;
}